mat-icon {
  margin: 0 0 2px 25px;
  display: flex;
  flex-direction: column;
}

.main-div {
  height: 100%;
  overflow-y: scroll;
  background-color: rgb(38, 38, 38);
}

.main-div::-webkit-scrollbar {
  width: 0;
}

.name {
  color: #ffffff;
  font-size: 20px;
  text-align: end;
  font-family: Poppins;
}

.email {
  overflow: hidden;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.47);
  margin-top: 5px;
  user-select: text;
  text-align: end;
  font-family: Poppins;
}

.buttons_box {
  margin-top: 20px;
}

.buttons_box > button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 20px;
  width: 100%;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 40px;
}

.options_text {
  font-family: Poppins;
  width: 100px;
  text-align: end;
}

.buttons_box > button > mat-icon {
  width: 25px;
  height: 25px;
  font-size: 25px;
}
