<div class="main-div">
  <div style="
  background-color: black;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 100px 40px 20px 20px">
    <h2 class="name">{{ userData.name }}</h2>
    <p class="email">{{ userData.email }}</p>
  </div>
  <div class="buttons_box">
    <button routerLink="/profile">
      <p class="options_text">Profile</p>
      <mat-icon>person</mat-icon>
    </button>
    <button>
      <p class="options_text">Settings</p>
      <mat-icon>settings</mat-icon>
    </button>
    <button (click)="logout()" color="warn">
      <p class="options_text" style="color: #f44336">Logout</p>
      <mat-icon color="warn">logout</mat-icon>
    </button>
  </div>
</div>
