<div class="main-div">
  <div class="header-block">
    <mat-icon routerLink="/chats-menu" class="back_icon" >arrow_back_ios</mat-icon>
    <h4>Profile</h4>
  </div>
  <form [formGroup]="form" (ngSubmit)="send(avatarFile)">
    <div class="img_box">
      <img #img class="user_img" [src]="profileData ? profileData.avatar : ''" alt="profile avatar">
      <label>
        <input
          (change)="setImage(img, avatarFile)"
          class="input_select_img"
          #avatarFile formControlName="avatar"
          name="avatar"
          type="file">
        <mat-icon class="edit_button">edit</mat-icon>
      </label>
    </div>
    <div class="info_inputs_block">
      <div>
        <label>
          <p>Name</p>
          <input
            [value]="profileData ? profileData.name : ''"
            type="text"
            placeholder="Type your first name"
            formControlName="f_name"
            name="f_name">
        </label>
        <label>
          <p>Last Name</p>
          <input
            [value]="profileData ? profileData.l_name : ''"
            type="text"
            placeholder="Type your last name"
            formControlName="l_name"
            name="l_name">
        </label>
      </div>
      <p>Email</p>
      <div class="email_block">
        <p>{{ profileData ? profileData.email : '' }}</p>
        <div class="email_verify_button"></div>
      </div>
      <label style="margin-top: 15px; display: block">
        <p>Biography</p>
        <input
          [value]="profileData ? profileData.bio : ''"
          type="text"
          placeholder="Type your biography name"
          formControlName="bio"
          name="bio">
      </label>
    </div>
    <button class="send_button">save</button>
  </form>
</div>
