<div class="main_div">
  <img class="side_image" src="assets/images/icons/side-icons/flash-thread-colors.png">
  <div class="withe_layer"></div>
  <div class="container">
    <div class="images_box">
      <img class="messgae_image" src="assets/images/message.gif">
    </div>
    <div class="block">
      <form #formDirective="ngForm" [formGroup]="form" (ngSubmit)="send(formDirective)">
        <h1>Register</h1>
        <mat-form-field style="margin-top: 30px" class="input" appearance="outline">
          <mat-label>Name</mat-label>
          <input autofocus name="name" formControlName="name" matInput placeholder="enter your name">
          @if (this.form.invalid) {
            <mat-error>name is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Email</mat-label>
          <input autofocus name="email" formControlName="email" matInput placeholder="enter your email">
          @if (this.form.invalid) {
            <mat-error>email is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Password</mat-label>
          <input name="password" [type]="hide ? 'password' : 'text'" formControlName="password" type="password" matInput placeholder="enter your password">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        @if (isFalseRegister && !form.touched && !form.dirty) {
          <strong
            style="margin-bottom: 10px; color: #e01212"
          >this user already exists</strong>
        }
        <button [disabled]="form.invalid" class="send_button" mat-button>SEND</button>
      </form>
      <a class="dont_acc_link" routerLink="/login">don't have an account? - login</a>
    </div>
  </div>
</div>
