<div class="main-div">
  <div class="lear">
    <div #messagesScrollBox appResizeHeight [size]="170" class="messages_scroll_box">
      <div *ngIf="aiChatMessages != undefined">
        <div
          *ngFor="let item of aiChatMessages, let i = index"
          [class]="'user' !== item.sender ? 'message_box_reverce' : 'message_box'"
          style="font-size: 16px;" class="message">
          @if('user' !== item.sender) {
            <mat-icon>auto_awesome</mat-icon>
            <div class="animated-message">
              <pre>{{item.message}}</pre>
              <div class="message-tools-box">
                <mat-icon
                  style="margin-right: 10px"
                  (click)="copyText(item.message)">{{ !isCopied ? 'content_copy' : 'done' }}</mat-icon>
                @if (!isSpeak) {
                  <mat-icon (click)="textToSpeech(item.message)">volume_up</mat-icon>
                } @else {
                  <mat-icon (click)="textToSpeech(item.message)">volume_off</mat-icon>
                }
              </div>
            </div>
          } @else {
            <p>{{ item.message }}</p>
          }
        </div>
      </div>
      @if (!isLoadedAiAnswer) {
        <div class="ai_loading">
          <mat-icon>auto_awesome</mat-icon>
          <img src="../../../assets/images/loading.gif">
        </div>
      }
    </div>
    <div class="selected_chat_user">
      <a routerLink="/chats-menu">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <div class="img_box">
        <mat-icon>auto_awesome</mat-icon>
        <h3>Flash Ai</h3>
      </div>
    </div>
    <div class="message_sending_panel">
      <form [formGroup]="form" (ngSubmit)="send(imageInput)">
        <div *ngIf="isSelectedImg">
          <mat-icon (click)="isSelectedImg = false">close</mat-icon>
          <img #img>
        </div>
        <input
          matInput
          formControlName="message"
          placeholder="Send Your Message to Ai"
          name="message"
          class="message_input"
          type="text">
        <button [disabled]="form.invalid" class="send_button">
          <mat-icon [class]="form.valid ? 'send_button_icon-anim' : ''">auto_awesome</mat-icon>
        </button>
      </form>
      <label>
        <span class="select_image">
          <mat-icon>photo_library</mat-icon>
        </span>
        <input
          (change)="setImage(img, imageInput, $event)"
          #imageInput
          type="file"
          multiple
          accept="image/*" />
      </label>
    </div>
  </div>
</div>
