.main-div {
  background-repeat: no-repeat;
  background-color: #1e1e1e;
  /*background-image: url("/assets/images/backgrounds/dark-background2.jpg");*/
  background-size: cover;
  height: 100vh;
  box-shadow:  inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.lear {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 90px 20px 0 20px;
  position: relative;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.12);
}

.message > div {
  background-color: rgba(14, 14, 14, 1);
  border-radius: 30px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 15px 13px 15px;
  border: 1px solid #ffffff26;
}

.message > div > pre {
  background: linear-gradient(to left, #003aff, #ff00fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: auto;
  table-layout:fixed;
  display: table;
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  font-family: 'Rubik Glitch', system-ui;
  align-items: center;
  position: relative;
  margin-left: 10px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.message > p {
  padding: 10px 20px;
  border-radius: 30px;
  background-image: linear-gradient(to left, #003399, #7100ff);
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  font-family: 'Rubik Glitch', system-ui;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 40px;
}

.message > mat-icon {
  color: white;
  margin-bottom: 10px;
  margin-left: 5px
}

.message_box {
  overflow-x: scroll;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.message_box::-webkit-scrollbar {
  display: none;
}

.message_box_reverce {
  width: 100%;
  overflow-x: scroll;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  margin-top: 13px;
}

.message_sending_panel {
  position: fixed;
  display: flex;
  bottom: 20px;
  width: 70%;
  align-items: center;
}

.message_sending_panel > form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
}

.message_sending_panel > form > div {
  position: absolute;
  top: -60px;
  right: 0;
}

.message_sending_panel > form > div > mat-icon {
  color: white;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #b54949;
  border-radius: 50%;
}

.message_sending_panel > form > div > img {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  border: 5px solid #2a2a2a;
  object-fit: cover;
}

.select_image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #2a2a2a;
  margin-left: 10px;
  border-radius: 50%;
}

.select_image > mat-icon {
  color: #c5c5c5;
}

.message_sending_panel > label > input {
  display: none;
}

.message_input {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #2a2a2a;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  font-size: 20px;
  border-radius: 30px;
  padding: 25px 60px 25px 30px;
  font-family: 'Rubik Glitch', system-ui;
  font-weight: bolder;
  color: #ffffff;
}

.message_input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.controllers_box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 25px;
}

.send_button {
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  right: 6px;
  top: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}

.send_button:disabled {
  opacity: 0.3;
}

.send_button > mat-icon {
  background: linear-gradient(to left, #003aff, #ff00fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.send_button_icon-anim {
  animation: send_anim alternate-reverse .4s ease-in-out infinite;
}

@keyframes send_anim {
  from {
    scale: 0.9;
  }
  to {
    scale: 1;
  }
}

.messages_scroll_box {
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 10px;
}

.selected_chat_user {
  padding: 15px 25px;
  background-color: #0a0a0a;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(117, 117, 117, 0.42);
}

.selected_chat_user > a {
  margin-right: 20px;
  display: none;
  width: 25px;
}

.selected_chat_user > a > mat-icon {
  color: white;
  display: block;
  font-size: 25px;
}

.selected_chat_user > .img_box {
  position: relative;
  display: flex;
  align-items: center;
}

.selected_chat_user > .img_box > h3 {
  background: linear-gradient(to left, #003aff, #ff00fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  margin-left: 20px;
}

.selected_chat_user > .img_box > mat-icon {
  background: linear-gradient(to left, #003aff, #ff00fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.in-chat-user-avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -40px;
}

.first_message_block > h3 {
  font-size: 35px;
  color: white;margin-bottom: 30px;
}

.first_message_block > div {
  position: relative;
}

.first_message_block > div > form > input:focus {
  outline: 5px solid #5c13a4;
}

.first_message_block > div > button > mat-icon {
  font-size: 35px;
  width: 33px;
  height: 31px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 940px) {

  .messages_scroll_box {
    width: 100%;
  }
  .selected_chat_user {
    padding: 10px;
  }

  .selected_chat_user > a {
    display: block;
    position: absolute;
    left: 16px;
  }

  .message_sending_panel {
    width: 92%;
  }
}

@media screen and (max-width: 594px) {
  .first_message_block > div > form > input {
    width: 100%;
  }

  .first_message_block > div {
    width: 90%;
  }

  .message_box {
    margin-top: 5px;
  }

  .message > pre,
  .message > p {
    font-size: 16px;
  }

  .lear {
    padding: 90px 16px 0 16px;
  }
}

@media screen and (max-width: 574px) {
  .first_message_block > h3 {
    font-size: 30px;
    text-align: center;
    max-width: 90%;
  }
}

.ai_loading {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.ai_loading > mat-icon {
  color: white;
}

.ai_loading > img {
  width: 130px;
  border-radius: 20px;
}

.animated-message {
  position: relative;
  animation: 0.2s animatedmessage alternate ease-in-out;
}

@keyframes animatedmessage {
  from {
    transform: translateX(-700px);
  }

  to {
    transform: translateX(0);
  }
}

.message-tools-box {
  position: absolute;
  right: 20px;
  top: -30px;
}

.message-tools-box > mat-icon {
  color: rgba(137, 137, 137, 1);
}
