<div class="main-div">
  <div class="lear">
    <div #messagesScrollBox appResizeHeight [size]="innerWidth > 940 ? 185 : 240" class="messages_scroll_box">
      <div *ngIf="aiChatMessages != undefined">
        <div
          *ngFor="let item of aiChatMessages, let i = index"
          [class]="'user' !== item.sender ? 'message_box_reverce' : 'message_box'"
          style="font-size: 16px;" class="message">
          @if('user' !== item.sender) {
            <mat-icon>auto_awesome</mat-icon>
            <div #aiMessage
                 (mousedown)="selectMessage(aiMessage)"
                 (mouseup)="unselectMessage(aiMessage)"
                 (touchstart)="selectMessage(aiMessage)"
                 (touchend)="unselectMessage(aiMessage)"
                 class="animated-message">
              <pre>{{ item.message === '' ? 'try typing other text' : item.message}}</pre>
              <div class="message-tools-box">
                <mat-icon
                  #icon
                  style="margin-right: 10px"
                  (click)="copyText(item.message, icon)">{{ !isCopied ? 'content_copy' : 'done' }}</mat-icon>
                @if (!isSpeak) {
                  <mat-icon (click)="textToSpeech(item.message)">volume_up</mat-icon>
                } @else {
                  <mat-icon (click)="textToSpeech(item.message)">volume_off</mat-icon>
                }
              </div>
            </div>
          } @else {
            <p #myMessage
               (mousedown)="selectMessage(myMessage)"
               (mouseup)="unselectMessage(myMessage)"
               (touchstart)="selectMessage(myMessage)"
               (touchend)="unselectMessage(myMessage)"
            >{{ item.message }}</p>
          }
        </div>
      </div>
      @if (!isLoadedAiAnswer) {
        <div class="ai_loading">
          <mat-icon>auto_awesome</mat-icon>
          <img src="../../../assets/images/loading.gif">
        </div>
      }
    </div>
    <div class="selected_chat_user">
      <button title="delete chat" (click)="deleteChat()" class="delete_button" mat-icon-button>
        <mat-icon color="warn">delete_sweep</mat-icon>
      </button>
      <a routerLink="/chats-menu">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <div class="img_box">
        <mat-icon>auto_awesome</mat-icon>
        <h3>Flash Ai</h3>
      </div>
    </div>
    <div class="message_sending_panel">
      <form [formGroup]="form" (ngSubmit)="send(imageInput)">
        <div *ngIf="isSelectedImg">
          <mat-icon (click)="isSelectedImg = false">close</mat-icon>
          <img #img>
        </div>
        <input
          matInput
          formControlName="message"
          placeholder="Type your message..."
          name="message"
          class="message_input"
          type="text">
        <button [disabled]="form.invalid" class="send_button">
          <mat-icon [class]="form.valid ? 'send_button_icon-anim' : ''">auto_awesome</mat-icon>
        </button>
        <label>
        <span class="select_image">
          <mat-icon>photo_library</mat-icon>
        </span>
          <input
            capture="camera"
            (change)="setImage(img, imageInput, $event)"
            #imageInput
            type="file"
            multiple
            accept="image/*" />
        </label>
      </form>
    </div>
  </div>
</div>
