<div style="position: relative" class="main_div">
  @if (mainLoader) {
    <app-main-loader style="position: absolute; z-index: 1000; width: 100%; height: 100%"></app-main-loader>
  }
  <img class="side_image" src="assets/images/icons/side-icons/flash-thread-colors.png">
  <div class="layer"></div>
  <div class="container">
    <div class="images_box">
      <img class="messgae_image" src="assets/images/message2.gif">
    </div>
    <div class="login_block">
      <form #formDirective="ngForm" [formGroup]="form" (ngSubmit)="send(formDirective)">
        <h1>Login</h1>
        <input
          class="text_field"
          type="email"
          name="email"
          formControlName="email"
          placeholder="Enter your email">
        <div style="position: relative">
          <input
            style="padding-right: 65px"
            class="text_field"
            name="password" [type]="hide ? 'password' : 'text'"
            formControlName="password" type="password"
            placeholder="Enter your password">
          <button
            type="button"
            class="hide_show_pass_btn"
            mat-icon-button
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </div>
        @if (isFalseLogin && !form.touched && !form.dirty) {
          <strong
            style="margin-bottom: 10px; color: #e01212"
          >false email or password</strong>
        }
        <button [disabled]="form.invalid" class="send_button">SEND</button>
      </form>
      <a class="dont_acc_link" routerLink="/register">don't have an account? - register</a>
    </div>
  </div>
</div>
