.main_div {
  background: linear-gradient(to left, var(--main-color2), var(--main-color1),  var(--main-color1));
}

.main_div > .container {
  background-color: #000000;
  width: 100%;
  padding: 0 16px;
}

.text_field {
  color: white;
  outline: none;
  width: 100%;
  padding: 16px 20px 14px 20px;
  background-color: #000000;
  border: 3px solid #5c13a4;
  margin-top: 15px;
  border-radius: 14px;
  font-size: 20px;
  font-weight: 700;
  font-family: Poppins;
}

.hide_show_pass_btn {
  background-color: #5c13a4;
  color: white;
  position: absolute;
  right: 10px;
  top: 24px;
  scale: 0.9;
}

.text_field::placeholder {
  color: rgba(92, 19, 164, 0.43);
}

.text_field:focus {
  border-color: rgba(255, 255, 255, 0.74);
}

.text_field:focus::placeholder {
  color: rgba(255, 255, 255, 0.27);
}

.layer {
  background-color: #ffffff;
  width: 50%;
  height: 100vh;
  position: absolute;
  border-radius: 0 20px 20px 0;
}

h1 {
  background: linear-gradient(to left, #003aff, #ff00fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 50px;
  font-family: 'Asap Condensed', sans-serif;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.main_div > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.messgae_image {
  object-fit: cover;
  width: 70%;
  height: 70vh;
  position: absolute;
}

.images_box {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.side_image {
  position: absolute;
  left: 3%;
  top: 3%;
  filter: drop-shadow(3px 3px 0 rgba(91, 38, 141, 0.53));
  width: 60px;
  z-index: 99;
}

.login_block {
  border-radius: 20px;
  padding: 30px;
  background-color: #000000;
}

.login_block > form {
  display: flex;
  flex-direction: column;
}

.login_input {
  width: 400px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
}

.login_input:focus {
  border-color: #7100ff;
}

.dont_acc_link {
  display: block;
  font-weight: bolder;
  background: linear-gradient(to left, rgb(154, 26, 152), #2744a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  text-align: center;
}

.send_button {
  background: linear-gradient(to left, #9900ff, #7300ff);
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: Poppins;
  font-size: 22px;
  letter-spacing: 2px;
  color: white;
  padding: 8px 0;
  border: none;
  border-radius: 10px;
}

.send_button:disabled {
  background-color: #7c47be;
  opacity: 0.7;
}


/* media */

@media screen and (max-width: 1030px) {
  .images_box,
  .layer {
    display: none;
  }

  .main_div > .container {
    justify-content: center;
  }
}

@media screen and (max-width: 770px) {
  .side_image {
    width: 40px;
    filter: drop-shadow(2px 2px 0 rgba(91, 38, 141, 0.53));
  }
}

@media screen and (max-width: 660px) {
  .main_div {
    background: white;
  }

  .login_block {
    width: 100%;
  }

  .login_input {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .login_block {
    padding: 5px;
  }
}
