.main-div {
  background-image: linear-gradient(to left, rgba(152, 46, 131, 0.11), rgba(0, 51, 153, 0.1));
  overflow-y: scroll;
  background-color: #0e0e0e;
  width: 100%;
}

.main-div::-webkit-scrollbar {
  display: none;
}

.list {
  padding: 10px;
  background-color: #3d3d3d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.search_list_block {
  width: 100%;
  padding: 0 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 6px, rgba(0, 0, 0, 0.13) 0px 3px 6px;
  position: absolute;
  top: 35px;
  background-color: #232323;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.list > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.list > div > h2,
.list > div > p {
  color: white;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0a0a0a;
  padding: 15px;
}

.side-icon {
  width: 30px;
  height: 30px;
}

.search {
  outline: none;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 1px solid;
  height: 15px;
  font-family: 'Asap Condensed', sans-serif;
  font-weight: bolder;
  border-radius: 20px;
  padding: 20px 15px;
  padding-top: 21px;
  width: 100%;
  transition: .3s;
}

.search:focus {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-color: #003399;
}

app-user-details {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  top: 75px;
  width: 100%;
  transition: 0.2s;
  left: 0;
  z-index: 999;
}

.user_img_box {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  background-color: #3d3d3d;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: .2s;
}

.user_img_box:active {
  scale: 0.95;
}

.user_img_box > img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.chat_block > .chat {
  width: 100%;
  padding: 10px;
  background: rgba(23, 23, 23, 0.39);
  fill: white;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  transition: .2s scale;
  outline: none;
}


.chat_block > .ai_chat {
  width: 100%;
  padding: 10px;
  background: rgba(42, 42, 42, 0.59);
  fill: white;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.06);
  transition: .2s scale;
  outline: none;
}

.chat_block > .ai_chat > mat-icon {
  color: #003aff;
  width: 40px;
  height: 40px;
  font-size: 40px;
  background: linear-gradient(to left, #003aff, #ff00fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chat_block > .ai_chat > div > h3 {
  color: white;
  font-family: "Rubik Glitch", system-ui;
  font-size: 25px;
  margin-left: 20px;
  background: linear-gradient(to left, #003aff, #ff00fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chat_block > .ai_chat > div > p {
  color: rgba(255, 255, 255, 0.49);
  margin-left: 20px;
}

.active-chat.active-chat.active-chat {
  background: rgb(68, 68, 68);
  border: 1px solid rgba(255, 255, 255, 0.28);
  scale: 1.02;
}

.active-chat.active-chat.active-chat:after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgb(68, 68, 68);
  border-top-right-radius: 6px;
  rotate: 45deg;
  right: -10px;
}

.chat_block > .chat > div {
  margin-left: 15px;
  width: 100%;
}

.chat_block > .chat > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chat_block > .chat > div > div > p {
  color: #c4c4c4;
}

.chat_block > .chat > div > div > h3 {
  color: white;
  font-family: "Rubik Glitch", system-ui;
  font-size: 25px;
}

.chat_block > .chat > div > p {
  color: rgba(255, 255, 255, 0.49);
}

.chat_block > .chat > img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.search_box {
  position: relative;
  width: 80%;
}

/* media */

@media screen and (max-width: 520px) {
  .search {
    width: 100%;
  }
}
