<div appResizeHeight [size]="1" class="main-div">
  <div class="box">
    <div class="header_box">
      <h1>Messages</h1>
      <div (click)="isOpenedUserDetails = !isOpenedUserDetails" class="user_img_box">
        <img [src]="userData.avatar" [title]="userData.name" alt="user image">
      </div>
      @if (isOpenedUserDetails) {
        <app-user-details
          [userData]="userData"
          appResizeHeight
          [size]="75"
        ></app-user-details>
      }
    </div>
    <div
      (mouseleave)="isOpenedSearchBlock = false"
      (click)="isOpenedSearchBlock = true" class="search_box">
      <label>
        <mat-icon class="search_icon">search</mat-icon>
        <input
          (focus)="isOpenedSearchBlock = true"
          #search (input)="searchValue()"
          placeholder="Type your search..." type="text" class="search">
      </label>
      @if (isOpenedSearchBlock) {
        <div class="search_list_block">
          @if (searchData.length == 0 && search.value != '') {
            <div class="loading_list">
              <div
                style="margin-top: 20px"
                class="list">
                <div
                  style="
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #2a2a2a;
              "
                ></div>
                <div
                  style="
                margin-left: 20px;
                width: 70%;
                height: 20px;
                border-radius: 5px;
                background-color: #2a2a2a;
              ">
                </div>
              </div>
            </div>
          }
          <ng-container *ngFor="let item of searchData">
            <div *ngIf="tokenUser.id !== item.id"
                 [routerLink]="['/messenger/chat', item.id]"
                 style="margin-top: 20px"
                 class="list">
              <img [src]="item.avatar" [alt]="'avatar ' + item.name">
              <div style="margin-left: 20px">
                <h2>{{ item.name }}</h2>
                <p>{{ item.bio }}</p>
              </div>
            </div>
          </ng-container>
        </div>
      }
    </div>
  </div>
  <div class="chat_block">
    <h3>Chat</h3>
    <div
      routerLink="/messenger/ai"
      class="ai_chat">
      <mat-icon>auto_awesome</mat-icon>
      <div>
        <h3>Flash Ai</h3>
        <p>{{ aiLastMessage }}</p>
      </div>
    </div>
    <ng-container *ngFor="let chatUser of chatUsersData, let i = index">
      <div
        routerLinkActive="active-chat"
        [routerLink]="['/messenger/chat', chatUser.id]"
        *ngIf="chatUser != null" class="chat">
        <img [src]="chatUser.avatar" alt="chat">
        <div>
          <div>
            <h3>{{ chatUser.name }}</h3>
            <p>
              {{
                chatsData[i].messages[chatsData[i].messages.length - 1].date.hours
                + ':' +
                chatsData[i].messages[chatsData[i].messages.length - 1].date.minutes
              }}</p>
          </div>
          <p>{{ chatsData[i].messages[chatsData[i].messages.length - 1].message }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
