<div class="main-div">
  <div class="lear">
    <div class="selected_chat_user">
      <a routerLink="/chats-menu">
        <mat-icon>arrow_back_ios</mat-icon>
      </a>
      <div>
        <h2>{{ userInfo ? userInfo.name : '...' }}</h2>
        @if (userInfo && !userInfo.isOnline) {
          <p>Last seen {{ userInfo.last_connection?.hours + ':' + userInfo.last_connection?.minutes }}</p>
        } @else {
          <p>
            Online
          </p>
        }
      </div>
    </div>
    <div #messagesScrollBox appResizeHeight [size]="innerWidth > 940 ? 130 : 140" class="messages_scroll_box">
      <div *ngIf="chatMessaging && userInfo">
        <div class="user_box">
          <img [src]="userInfo.avatar" alt="avatar">
          <h4>{{ userInfo.name }}</h4>
          <p>{{ userInfo.bio }}</p>
        </div>
        <div
          *ngFor="let item of chatMessaging.messages, let i = index"
          [class]="thisUser.id !== item.userId ? 'message_box_reverce' : 'message_box'">
          <div class="message">
            @if (chatMessaging.usersId.length === 2 && thisUser.id !== item.userId) {
              <img class="in-chat-user-avatar" [src]="userInfo.avatar" alt="user img">
            }
            {{ item.message }}
          </div>
        </div>
        @if (isPrint) {
          <div class="message_box_reverce">
            <div class="message">
              <img class="in-chat-user-avatar" [src]="userInfo.avatar" alt="user img">
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="message_sending_panel">
      <form [formGroup]="form" (ngSubmit)="send()">
        <input
          (focus)="scrollDown()"
          (input)="printing()"
          matInput
          formControlName="message"
          placeholder="Type your message..."
          name="message"
          class="message_input"
          type="text">
        <button [disabled]="form.invalid" class="send_button" (click)="send()">
          <mat-icon [class]="form.valid ? 'send_button_icon-anim' : ''">arrow_upward</mat-icon>
        </button>
      </form>
    </div>
  </div>
</div>
