.main-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1e1e1e;
  height: 100vh;
  box-shadow:  inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.lear {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 90px 20px 0 20px;
  position: relative;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar {
  width: 0;
}

.message {
  padding: 10px 20px;
  border-radius: 30px;
  background-image: linear-gradient(to left, #003399, #7100ff);
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  font-family: 'Rubik Glitch', system-ui;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.message_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
}

.message_box_reverce {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
}

.message_box_reverce > div {
  padding: 10px 20px;
  background-image: none;
  background-color: rgba(14, 14, 14, 1);
  border: 1px solid #ffffff26;
  color: #ffffff;
  font-weight: normal;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.message_sending_panel {
  position: fixed;
  bottom: 20px;
  width: 50%;
}

.message_sending_panel > form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.message_input {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #2a2a2a;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  font-size: 20px;
  border-radius: 30px;
  padding: 25px 60px 25px 30px;
  font-family: 'Rubik Glitch', system-ui;
  font-weight: bolder;
  color: #ffffff;
}

.message_input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.controllers_box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 25px;
}

.send_button {
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  right: 6px;
  top: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}

.send_button:disabled {
  opacity: 0.3;
}

.send_button > mat-icon {
  color: #7100ff;
}

.send_button_icon-anim {
  animation: send_anim alternate-reverse .4s ease-in-out infinite;
}

@keyframes send_anim {
  from {
    margin-bottom: 10px;
  }
  to {
    margin-bottom: -10px;
    scale: 1;
  }
}

.messages_scroll_box {
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 10px;
}

.selected_chat_user {
  padding: 10px 25px;
  background-color: #0a0a0a;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(117, 117, 117, 0.42);
}

.selected_chat_user > a {
  margin-right: 20px;
  display: none;
  width: 25px;
}

.selected_chat_user > a > mat-icon {
  color: white;
  display: block;
  font-size: 25px;
}

.selected_chat_user > .img_box {
  width: 45px;
  height: 45px;
  position: relative;
}

.selected_chat_user > .img_box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.selected_chat_user > div + div {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.selected_chat_user > div > p {
  color: #878787;
  font-family: "Rubik Glitch", system-ui;
}

.selected_chat_user > div > h2 {
  color: white;
  font-family: "Rubik Glitch", system-ui;
}

.online:after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00cb00;
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid;
}

.in-chat-user-avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -40px;
}

.first_message_block {
  background: linear-gradient(to left, rgba(152, 46, 131, 0.18), rgba(0, 51, 153, 0.2));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 84px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first_message_block > h3 {
  font-size: 35px;
  color: white;margin-bottom: 30px;
}

.first_message_block > div > form > input {
  font-size: 40px;
  padding: 10px 25px;
  border: none;
  border-radius: 40px;
  outline: 5px solid #363636;
  background-color: #3d3d3d;
  font-family: 'Asap Condensed', sans-serif;
  letter-spacing: 2px;
  width: 500px;
  color: white;
}

.first_message_block > div {
  position: relative;
}

.first_message_block > div > form > input:focus {
  outline: 5px solid #5c13a4;
}

.first_message_block > div > button > mat-icon {
  font-size: 35px;
  width: 33px;
  height: 31px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_message_block > div > button {
  border: none;
  background-color: rebeccapurple;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 3px;
  top: 3px;
}

@media screen and (max-width: 940px) {
  .selected_chat_user {
    padding: 10px;
  }

  .selected_chat_user > a {
    display: block;
  }

  .message_sending_panel {
    width: 90%;
  }
}

@media screen and (max-width: 594px) {
  .first_message_block > div > form > input {
    width: 100%;
  }
  .first_message_block > div {
    width: 90%;
  }

  .messages_scroll_box {
    width: 100%;
  }

  .message_box {
    margin-top: 5px;
  }

  .message {
    scale: 0.9;
  }

  .lear {
    padding: 90px 5px 0 5px;
  }
}

@media screen and (max-width: 574px) {
  .first_message_block > h3 {
    font-size: 30px;
    text-align: center;
    max-width: 90%;
  }
}
